body{

background:linear-gradient(135deg,#1e3c72,#2a5298);

font-family:Arial;

color:white;

text-align:center;

padding:30px;

}

.title{

margin-bottom:30px;

}

.dashboard{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.card{

background:rgba(0,0,0,0.4);

padding:25px;

border-radius:15px;

width:280px;

box-shadow:0 0 20px rgba(0,255,255,0.5);

}

#clock{

font-size:50px;

color:#00f7ff;

text-shadow:0 0 15px #00f7ff;

margin:10px 0;

}

#emoji{

font-size:25px;

margin-bottom:10px;

}

#timerDisplay{

font-size:40px;

margin-top:10px;

color:#ffd54f;

}

#stopwatch{

font-size:35px;

margin:10px;

}

.buttons{

margin-top:10px;

}

button{

padding:8px 15px;

margin:5px;

border:none;

border-radius:8px;

background:#00f7ff;

cursor:pointer;

font-weight:bold;

}

input{

padding:8px;

border-radius:6px;

border:none;

width:120px;

}
